<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.learning.QueryMapper">

    <select id="selectNewsByNewsIds" parameterType="java.util.List" resultType="News">
        select *
        from `News`
        where `newsId` in
        <foreach collection="newsId" item="newsId" index="index"
                 open="(" close=")" separator=",">
            #{newsId}
        </foreach>
    </select>
</mapper>